.logo {
    width: 6%;
    height: 6%;
    cursor: pointer;
    animation: change 10s infinite;
}

h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.WEBSYS {
    padding-left: 5%;
}

.Golden {
    color: rgb(134, 96, 0);
}

.brackets {
    color:red;
}

.text {
    color: darkred;
}

#meme {
    height: 300px;
    width: 300px;
}

#cyber {
    color: blue;
}

.navigationbar {
    color: #000;
    width: 100%;
}

.home {
    background-color: paleturquoise;
    animation: change 10s infinite;
}

@keyframes change {
    0% {
        background-color: white;
    }
    50% {
        background-color: beige;
    }
    75% {
        background-color: aliceblue;
    }
    90% {
        background-color: whitesmoke;
    }
    100% {
        background-color: white;
    }
}


table,th , td {
  border:1px solid black;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 95%;
}

.indeximg {
    width: 95%;
    height: 95%;
    padding-left: 7%;
}

table th {
    background-color: #000;
    color: greenyellow;
}

.altimg {
    padding-left: 5%;
    height: 90%;
    width: 90%;
}

.nocss {
    height: 90%;
    width: 90%;
    
}

td {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.4%;
    padding-right: 0.25%;
}

div {
    border-color: #000;
}

.navigationbar {
    animation: change 10s infinite;
    overflow: hidden;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background-color: #000;
    padding: 1% 5%;
    text-align: center;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8%;
    line-height: 1.8rem;
    text-decoration: none;
}

ul li {
    padding-left: 2%;
}


#ft {
    color: white;
    font-size: 12px;
    line-height: 4px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10%;
}

.navigationbar a {
    animation: change 10s infinite;
    float: right;
    display: block;
    color:blueviolet;
    text-align: left;
    padding: 30px 50px;
    text-decoration: none;
    background-color: #fff;
    font-size: 1.1em;
}

.row{
	height: 85%;
    padding-right: 8%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

.smallpara {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}


h2{
		color: indigo;
		font-size: 1.5rem;
		font-family: monospace;
	}
    
h3{
		font-family: monospace, bold;
        color: indianred;
        font-size: 1.2rem;
}

h4{
		font-family: monospace, bold;
        color: rgb(25, 112, 110);
        font-size: 1.2rem;
}

.col{
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    flex: 1;
}

.container {
    	padding-left: 0%;
		padding-right: 0%;
		box-sizing: border-box;
        min-height: 100%;
}

.imgphoto {
    display: block;
    overflow: hidden;
    border-radius: 100%;
    float: right;
}

.navigationbar a:hover{
    color: #000;
}

.navigationbar a {
    color: green;
}


